$l:1em;
$sf: .2;
$s0: 0 0 5px 2px currentcolor;
$s1: 0 0 1px 1px rgba(#fff, 2);
$t: 1s;

@property --ty {
	syntax: '<length-percentage>';
	initial-value: 0%;
	inherits: false
}

@property --ay {
	syntax: '<angle>';
	initial-value: -45deg;
	inherits: false
}

@property --q {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false
}

body, div { display: grid }

body {
	overflow: hidden;
	margin: 0;
	height: 100vh;
	background: #262626
}

div { transform-style: preserve-3d }

.cube {
	place-self: center;
	transform: 
		translatey(var(--ty, 0))
		rotatex(-35deg) 
		rotatey(calc(var(--ay, -45deg) - var(--q, 0)*90deg));
	animation: 
		ty $t ease-in-out infinite alternate, 
		ay 2*$t ease-in-out infinite, 
		q 2*$t steps(1) infinite
}

@keyframes ty { to { --ty: 45% } }

.face {
	--i: 0;
	--j: calc(1 - var(--i));
	grid-area: 1/ 1;
	grid-template: 
		repeat(var(--n), $l)/ repeat(var(--n), $l);
	transform: 
		rotate3d(var(--i), var(--j), 0, calc(var(--f, 1)*90deg)) 
		translatez(calc(.5*var(--n)*#{$l}));
	
	&:last-child { --i: 1 }
}

.tile {
	--m: calc(.5*(var(--n) - 1));
	--dx: max(var(--m) - var(--x), var(--x) - var(--m));
	--dy: max(var(--m) - var(--y), var(--y) - var(--m));
	--dt: calc((
		var(--j)*(.5*(var(--dx) + var(--y) + var(--m))/var(--m) - 2) + 
		var(--i)*(.5*(var(--dx) + var(--dy))/var(--m) - 2))*#{$t});
	backface-visibility: hidden;
	border-radius: 5px;
	box-shadow: $s1, inset $s1,  $s0, inset $s0;
	background: #141414;
	color: fuchsia;
	animation: a 0.1s var(--dt) infinite alternate;
	animation-name: m, c;
	animation-duration: .5*$t, $t;
	animation-timing-function: ease-in-out, linear
}

@keyframes m {
	to { transform: translatez(.5*($sf - 1)*$l) scale($sf) }
}

@keyframes c { to { color: green } }